<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Bienvenidos a la página de Agus y Carli</h2>
    <p>Welcome to <%= title %></p>
  </body>
</html>
